@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary " style="background-color: #a30c0c" asp-area="Identity" asp-page="/Account/Login">Get started</a>
</div>

